@model List<TourApplication.Models.TourModel>
@{
    ViewBag.Title = "Index";

}

<style>
    .jumbotron {
        background-color: #f4511e; /* Orange */
        color: #ffffff;
        padding: 100px 25px;
    }

    .bg-grey {
        background-color: #f6f6f6;
    }

    .container-fluid {
        padding: 60px 50px;
    }
</style>

<div id="login" class="jumbotron text-center">
    <h1>Outdoor activity log</h1>
    <p> <strong>@ViewBag.Count</strong> activities stored in database lagrade i databasen. Will be more!</p>
    <form class="form-inline">
        <div class="input-group-btn">
            <input type="email" class="form-control" size="50" placeholder="Email Address" required>

            <button type="button" class="btn btn-danger">Subscribe</button>
        </div>

    </form>
</div>




<div id="tours" class="container-fluid">
    <div class="list-group">

        @foreach (TourApplication.Models.TourModel t in Model)
        {

            <a href="@Url.Action("Details", "Tour", new RouteValueDictionary(new { id = t.name }))" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="mb-1">@t.name</h4>
                    <small class="text-muted">@t.type</small>
                </div>
                <p class="mb-1">@t.comments</p>
                <small class="text-muted">@t.position.x och @t.position.y % elevation: @t.elevation möh. </small>


                @if (t.sunrise == t.sunset)
                {
                    <small class="text-muted"> Det är mörkertid, solen går inte upp idag!</small>

                }
                else
                {
                    <small class="text-muted">  Soluppgång: @t.sunrise -- Solnedgång: @t.sunset -- Dagslängd: @t.day_length</small>
                }



            </a>

        }
    </div>
</div>
<div id="about" class="container-fluid">
    <h2>Lagrade turer</h2>

    <p> I dagsläget finns det <strong>@ViewBag.Count</strong> turer lagrade i databasen. Fler ska det bli!</p>

    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>
        function myMap() {
            var myCenter = new google.maps.LatLng(64.689767, 14.924996);
            var mapProp = { center: myCenter, zoom: 4, scrollwheel: false, draggable: true, mapTypeId: 'satellite' };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                     @foreach (TourApplication.Models.TourModel t in Model) {

            @:var position = new google.maps.LatLng(@t.position.x.ToString().Replace(",", "."), @t.position.y.ToString().Replace(",", "."));


            @:var marker = new google.maps.Marker({ map: map, position: position, clickable: true });
            @:marker.info = new google.maps.InfoWindow({content: '@t.name'});
            @:google.maps.event.addListener(marker, 'click', function () {marker.info.open(map, this);});

                     }
         }
        //https://stackoverflow.com/questions/3158598/google-maps-api-v3-adding-an-infowindow-to-each-marker för att fixa problemet med inforutan
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyecsSf2YPWYz-RUw5UGvN_OPEs5J8DpY&callback=myMap"></script>


</div>

<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Umeå, SE</p>
            <p><span class="glyphicon glyphicon-phone"></span> +46703738892</p>
            <p><span class="glyphicon glyphicon-envelope"></span> dlundsten@gmail.com</p>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>

                <div class="col-sm-12 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>


            <div class="col-sm-12 form-group">
                <button class="btn btn-default" type="submit">Send</button>
            </div>

        </div>
    </div>
</div>

